<form class="ui stacked segment form" action="/comment/addcomment" method="POST" enctype="multipart/form-data">
  <div class="one field">
    <div class="field">
      <label>Comment</label>
      <input placeholder="Write your comment here" type="text" name="comment" autofocus required>
    </div>
  </div>
  <button class="ui blue submit button">Add Comment</button>
</form>