<form class="ui stacked segment form" action="/dashboard/addplaylist" method="POST" enctype="multipart/form-data">
  <div class="two fields">
    <div class="field">
      <label>Title</label>
      <input placeholder="Title" type="text" name="title" autofocus required>
    </div>
    <div class="field">
      <label>Image</label>
      <input placeholder="Image" type="file" name="picture" required>
    </div>
  </div>
  <button class="ui blue submit button">Add Playlist</button>
</form>