{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
<h2>
  Information on the Author
</h2>
</section>

<section class="ui left aligned middle aligned segment">
<h2>
  Contact Details:
</h2>
  <p><i class="phone icon"></i> 0813328829</p>
  <p><i class="envelope icon"></i>  mrndns@yahoo.com</p>
  <p><i class="globe icon"></i>  cinemapp.com</p>
<h2>
  Social Media:
</h2>
  <p><i class="facebook icon"></i>  CinemAppFB</p>
  <p><i class="instagram icon"></i>  CinemApp_</p>
  <p><i class="twitter icon"></i>  CinemAppTW</p>
</section>

<section class="ui center aligned middle aligned segment">
<h2>
  Where to find the Author
</h2>
</section>

<section class="ui center aligned middle aligned segment">
<iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=waterford%20institute%20of%20technology&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
<a href="https://www.embedgooglemap.net"></a>
</section>

